{% extends "layout.html" %}

{% block body %}

    <h1>Register</h1>

    <form action="\register" method="post"> 
        <input name="name" type="text" autocomplete="off" placeholder="Your Name">
        <select name="sport">
            <option disabled selected value="">Choose a sport</option>
            <option value="Basketball">Basketball</option>
            <option value="Football">Football</option>
            <option value="Tennis">Tennis</option>
            <option value="Volleyball">Volleyball</option>
        </select>
        <input type="submit" value="Register" >
    </form>

{% endblock %}
