{% extends "layout.html" %}

{% block body %}

    <h1>Register</h1>

    <form action="\register" method="post"> 
        <input name="name" type="text" autocomplete="off" placeholder="Your Name">
        <select name="sport">
            <option disabled selected value="">Select a Sport</option>
            {% for sport in sports %}
                <option value="{{ sport }}">{{ sport }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Register" >
    </form>

{% endblock %}
